* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(8, 11, 41);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BASE */

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

/* MAIN LAYOUT */

.main-layout {
    max-width: 90vw;
    margin: 0 auto;
}